.u-section-1 .u-sheet-1 {
  min-height: 422px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 66px auto 0 40px;
}

.u-section-1 .u-text-1 {
  margin: -246px 401px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 48px 253px 60px 397px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 316px;
    margin-left: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-1 .u-image-1 {
    width: 261px;
    height: 261px;
    margin-top: 61px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -190px;
    margin-right: 136px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 34px;
    margin-left: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
    width: 351px;
    margin: 11px auto 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 56px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-bottom: 33px;
  }
}